<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sina.lab7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListView"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NameListActivity"
            android:label="@string/title_activity_name_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailsLeft"
            android:label="@string/title_activity_details_left"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailsRight"
            android:label="@string/title_activity_details_right"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>